:root {
    --cor1:rgb(44, 199, 255);
    --cor2: rgb(0, 165, 202);
    --cor3: rgb(0, 165, 180);
    --cor4: rgb(0, 165, 140);
    --cor5: rgb(0, 165, 90);
}

body {
    background-color:var(--cor1);
    background-image: url('/exercicios/ex006/imagem/topography-anime-girl-backiee-HD.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgba(236, 232, 232, 0.975);
  
    animation: fadeUp 0.8s ease forwards 0.6s;
    
}

main {
    background-color: #6e6d6d74;

    max-width: 1000px;
    border-radius: 10px;
    margin: auto ;
    padding: 20px;
    box-shadow: 5px 5px 10px rgb(49, 49, 49);
     animation: fadeUp 0.8s ease forwards 0.6s;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 20px;
    color: var(--cor3);
}

li > a {
    color: var(--cor2);
    transition: 0.3s;
}
 