* {
 font-family: 'Courier New', Courier, monospace;
}

:root {
    --cor1 : #02f7ff;
    --cor2 : #07d6e1;
    --cor3 : #04a2aa;
    --cor4 : #006370;
}

body {
    background-image: linear-gradient(to top,var(--cor1), var(--cor2), var(--cor3), var(--cor4));
}
main {
    width: 100%;
    margin: auto;
    background-color:#04a2aac3;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header > h1 {

    text-align: center;
    color: var(--cor4);
    font-size: 3rem;
}
footer {
    background-color: var(--cor3);
    text-align: center;
    border-radius: 10px;
    color: var(--cor1);
    font-size: 0.7rem;
}