   



   * {
    padding: 0 auto;
    margin: 0 auto;
   }
   
   body {  
            min-height: 100vh;
            background-color: rgb(255, 254, 254);
            font-family: Arial, sans-serif;
            text-align: justify;
        }
        header {
           
            padding: 20px;
            text-align: center;
        }
      
        header > h1 {
            background-color: #ffffffe1;
            border-radius: 15px;
            box-shadow: inset 0px 0px 3px rgb(12, 12, 12);
            width: 60%;
            margin: 20px auto;
            height: 43px;
            padding: 5px;
            text-align: center;
            color: #000000e1;
        }
        nav a {
            color: #797676e4;
            margin: 0 10px;
            text-decoration: none;
        }

        section {
            margin: auto;
            width: 80%;
        }


        section.normal {

            
            border-radius: 15px;
            padding: 10px;
            padding-bottom: 20px;
        }

        section.img {
            width: 80%;
            background-image: url('../ex022/img/wallpaper002.jpg');
            background-position:  center;
            background-attachment: fixed;
            background-size: cover;
            padding: 20px;
            box-shadow: inset 2px 2px 13px black;
            color: #ffffffe1;
            background-color: #060505e1;
            
            border-radius: 20px;
        }

        section.img > h1 {

            text-indent: 30px;
            padding-bottom: 10px;
            text-shadow: 2em;
        }

        section.img > p {
            background-color: rgba(0, 0, 0, 0.161);
            padding: 10px;
            border-radius: 5px;
            font-size: 1.2em;
        }
        
    
        footer {
         
        border-radius: 15px;
        padding: 1px;
        text-align: center;
        text-decoration: underline;
        color: #000000e4;
        margin: 50px;

        
        }