@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(45deg, #011C6B, #011142 , #01258F ,#023BE6, #0231BD );
    color: antiquewhite;
    background-attachment: fixed;
    margin: 60px;
}
main {
    box-shadow: 5px 5px 15px rgb(1, 38, 42);
    background-color: #a5d5ef;
    color: #011142;
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}
img {
    width: 100%;
    height: auto;
    max-width: 700px;
    border-radius: 10px;
}
h1 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    color: #01258F;
    text-align: center;

}

h2 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    color: #023BE6;


}
p { 
    text-align: justify;
}

footer {
    box-shadow: 5px 5px 15px rgb(1, 38, 42);
    background-color: #a5d5ef;
    color: #011142;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 10px;    
}